<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="stats-container">
     
        <h1>Magic Date Stats</h1>

        <% stats.forEach(function(stat) { %> 
          <% if (stat.number === "one") { %>
            <% oneArr.push(stat.number); %>
          <% } else if (stat.number === "two") { %>
            <% twoArr.push(stat.number); %>
          <% } else if (stat.number === "three") { %>
            <% threeArr.push(stat.number); %>
          <% } else if (stat.number === "four") { %>
            <% fourArr.push(stat.number); %>
          <% } else if (stat.number === "five") { %>
            <% fiveArr.push(stat.number); %>
          <% } %>
        <% }); %>

        <div id="stats">
          <div class="stats">
            <p>&hearts;<br><span><%= oneArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;<br><span><%= twoArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;<br><span><%= threeArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;&hearts;<br><span><%= fourArr.length %></span></p> 
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;&hearts;&hearts;<br><span><%= fiveArr.length %></span></p>
          </div>
        </div>
     
      
        <div class="home-button">
          <h2><a href="/about">Again!</a></h2>
        </div>
      
      </div>
    </div>
  </body>
</html>