<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="stats-container">
     
        <h1>Magic Date Stats</h1>

        <% stats.forEach(function(stat) { %> 
          <% if (stat.number === "one") { %>
            <% oneArr.push(stat.number); %>
          <% } else if (stat.number === "two") { %>
            <% twoArr.push(stat.number); %>
          <% } else if (stat.number === "three") { %>
            <% threeArr.push(stat.number); %>
          <% } else if (stat.number === "four") { %>
            <% fourArr.push(stat.number); %>
          <% } else if (stat.number === "five") { %>
            <% fiveArr.push(stat.number); %>
          <% } %>
        <% }); %>

        <div id="stats">
          <div class="stats">
            <p>&hearts;<br><span><%= oneArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;<br><span><%= twoArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;<br><span><%= threeArr.length %></span></p>
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;&hearts;<br><span><%= fourArr.length %></span></p> 
          </div>
          <div class="stats">
            <p>&hearts;&hearts;&hearts;&hearts;&hearts;<br><span><%= fiveArr.length %></span></p>
          </div>
        </div>
     
        <div class="home-button">
          <h2><a href="/shake">Shake again!</a></h2>
        </div>

        <div id="tweet-button">
          <a href="https://twitter.com/intent/tweet?button_hashtag=MagicDateBall&text=Magic%20Date%20Ball%20is%20a%20new%20and%20improved%20version%20of%20the%20classic%20Magic%208%20Ball%20%7C%20by%20%40korenlc" class="twitter-hashtag-button" data-size="large" data-related="korenlc" data-url="http://magic-date-ball.herokuapp.com">Tweet #MagicDateBall</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      
      </div>
    </div>
  </body>
</html>